body {
  font-family: Karla, sans-serif;
  color: #4A495B;
  max-width: 850px;
  margin: auto;
}

input, button {
  font-family: Karla, sans-serif;
}

h1,h2,h3,h4,h5,h6 {
  font-family: "DM Serif Display", serif;
}
